<a href='#employees/<%= id %>' class="pad-right">
    <img src="<%= photoUrl %>" width="50" class="list-icon" style="padding-right:6px;"/>
    <div class="story">
    	<b><%= firstName %> <%= lastName %></b>
    	<span class="metadata">
            <span class="link-text"><%= title %></span><br/>
            <% if (followersCount > 0) { %>
            <span class="inline-block"><%= followersCount %> followers</span>
            <% } %>
        </span>
    </div>
</a>

<a href="#employees/<%= id %>" class="detail-disclosure"><span></span></a>
